.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 96px;
}

.content {
  display: flex;
}
.settings {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  margin: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
}
.board {
  width: 500px;
  height: 500px;
  display: grid;
}

.board {
  user-select: none;
}
