.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
}
.settings {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.board {
  width: 500px;
  height: 500px;
  display: grid;
}
